.alumni-profiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding-left : 5vw;
    padding-right: 5vw;
}
.alimuni-year-container{
    display: flex;
    justify-content: center;
}

.Aliumi-year-image{
    width: 80vw;
    height: 320px;
    margin-bottom: 30px;
}